<h1>Author</h1>
<h3>Name</h3>
<p>{{ author.name }}</p>
<h3>Gender</h3>
<p>{{ author.gender }}</p>
<a href="/authors/{{ author._id }}/edit">Edit</a>
<a href="/authors/{{ author._id }}?_method=DELETE">Delete</a>